*{
    margin: 5;
    padding: 5;
}

.cabecalho  {
    padding: 15px 25px;
}
.cartao{
    width: 260px;
    height: 200 px;
}

.cartao-imagem{
    width: 50% ;
}

body{ 
    background-color: rgb(165, 9, 35);
}