*{
    margin: 5;
    padding: 5;
}

.cabecalho  {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(165, 9, 35);
}
.cartao{
    width: 260px;
    height: 200 px;
}

.cartao-imagem{
    width: 50% ;
}

body{ 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:gold;
}

main{
flex: 1;

}
.cabecalho-link{
color:white;
text-decoration:none;

}
h1{ 
    color:gold;
}
h2{
    color:white;
}

footer{ 
    background-color: rgb(165, 9, 35); 
    padding: 15px 25px;
}

p{ 
    background-color: gold;
}