*{
    margin: 5;
    padding: 5;
}

.cabecalho  {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartao{
    width: 260px;
    height: 200 px;
}

.cartao-imagem{
    width: 50% ;
}

body{ 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(165, 9, 35);
}

main{
flex: 1;

}